
@font-face {
    font-family: 'CabinetGrotesk';
    src: url('CabinetGrotesk-Medium.eot');
    src: local('CabinetGrotest Medium'), local('CabinetGrotest-Medium'),
        url('CabinetGrotesk-Medium?iefix') format('embedded-opentype'),
        url('CabinetGrotesk-Medium.woff2') format('woff2'),
        url('CabinetGrotest-Medium.woff') format('woff'),
        url('CabinetGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family:'CabinetGrotesk';
    src: url('CabinetGrotesk-Regular.eot');
    src: local('CabientGrotesk Regular'), local('CabinetGrotesk-Regular'),
        url('CabinetGrotesk-Reguler.?iefix') format('embedded-opentype'),
        url('CabinetGrotest-Regular.woff2') format('woff2'),
        url('CabinetGrotesk-Regular.woff') format('woff'),
        url('CabinetGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:'CabinetGrotesk';
    src:url('CabinetGrotesk-Extrabold.eot');
    src: url('CabinetGrotesk Extrabold') , local('CabinetGrotesk-Extrabold'),
        url('CabinetGrotest-Extrabold?iefix') format('embedded-opentype'),
        url('CabinetGrotesk-Extrabold.woff2') format('woff2'),
        url('CabinetGrotesk-Extrabold.woff') format('woff'),
        url('CabinetGrotesk-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-Black.eot');
    src: local('Recoleta Black'), local('Recoleta-Black'),
        url('Recoleta-Black.eot?#iefix') format('embedded-opentype'),
        url('Recoleta-Black.woff2') format('woff2'),
        url('Recoleta-Black.woff') format('woff'),
        url('Recoleta-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


