$primary: #03989E;
$blue: #00092C;
$blue-2: #001D40;
$blue-3: #0E193A;
$blue-4: #0073FF;
$yellow: #FADB36;
$grey: #1A2323;
$white: #FAFFFF;
$whiter: #FFFFFF;
$black: #000A0A;
$light-green: #CDEAEC;
$green: #003D40;
$grey-2: #F4F7FA;
$grey-3: #666C6C;
$grey-4: #4D5454;
$grey-5: #808484;
$grey-6: #333B3B;
$grey-7: #E5E7E7;
$grey-8: #A4A5A7;