body {
  font-family: 'Product Sans', sans-serif;
  scroll-behavior: smooth;
}
* {
  scroll-behavior: smooth;
}
.router-link-exact-active {
  color: $blue-4;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Recoleta', sans-serif;
}
.swiper {
  width: 100%;
  &-3d {
    width: 1210px !important;
  }
  &-slide {
    width: 380px !important;
    font-size: 18px !important;
    line-height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Product Sans", sans-serif;
    @media screen and (max-width: 768px) {
      width: 100% !important;
    }
  }
  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
  }
  &-cards {
    width: 240px;
    height: 240px;
    & .swiper-slide {
      border-radius: 6px;
      border: 1px solid black;
    }
  }
}
.cut-text {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.blue-btn:hover .hovered {
  transform: translateX(10px);
}
.hovered {
  -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}